---
title: Yazılım, Eğitim ve Danışmanlık
layout: layout-tr
---

<section class="section cover has-background-color-vb-lighter">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="content">
                    <h1 class="has-text-light">
                        Yazılım geliştiren, eğitim ve danışmanlık hizmetleri sağlayan teknoloji firmasıyız.
                    </h1>
                    <h2 class="has-text-light is-hidden-mobile">
                        Profesyonel <u>backend</u>, <u>frontend</u> hizmetleri sunuyoruz.
                    </h2>
                </div>
            </div>
            <div class="column is-hidden-mobile">
                <div class="columns">
                    <div class="column is-8 is-offset-4">
                        <div class="content">
                            <div class="zoomable"><%= image_tag "textmate-screen-golang.png" %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section main has-white-background">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h3>Uzmanlık alanlarımız</h3>
                    <p class="is-size-4">
                        Uzun zamandır <strong>Python</strong> ve <strong>Ruby</strong> uygulamaları
                        geliştiren ekibimiz, <strong>2008</strong>&rsquo;den beri
                        <strong>Django</strong> kütüphanesi ile <strong>300</strong>&rsquo;ün üzerinde
                        canlıya çıkmış uygulama geliştirme tecrübesine sahiptir.
                    </p>
                    
                    <p class="is-size-4">
                        <strong>2018</strong>&rsquo;den beri <strong>Golang</strong>,
                        <strong>JavaScript</strong>, NodeJS alanlarında da uygulama geliştirme,
                        paket/kütüphane yayınlamak suretiyle (<em>açık kaynak</em>) modern yazılım
                        geliştirme ve danışmanlık hizmetlerine devam etmektedir.
                    </p>

                    <h3><strong>2013</strong>&rsquo;den beri servis veriyoruz!</h3>
                    <p>
                        Yazılım geliştirme ve danışmanlık hizmetlerinin yanı sıra,
                        <strong>Türkiye</strong> ve <strong>Avusturya</strong>&rsquo;da uluslararası
                        geliştirici konferansları organizasyonları, yarışmalar ve <strong>hackathon</strong>&rsquo;lar da
                        düzenlediğimiz etkinlikler / faaliyetler arasında.
                    </p>


                    <h4><strong>UNIX</strong> araçlarını kullanmayı ve geliştirmeyi seviyoruz!</h4>
                    <p>
                        <strong>Ruby</strong> gem&rsquo;leri, <strong>Bash</strong> araçları,
                        <strong>Python</strong> ve <strong>Golang</strong> paketleri,
                        <strong>npm</strong> paketleri, <strong>homebrew</strong> paketleri hep
                        sevdiğimiz konular!
                    </p>
                    <p>
                        Testle yürüyen geliştirme benimsediğimiz bir filozofi (<strong>TDD</strong>). Tüm
                        projelerimizde bu konuya çok özen gösteriyoruz. Servislerimizle ilgili detayları
                        görmek için <a class="is-external-link" href="/tr/servisler/">tıklayın</a>.
                    </p>

                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-8 is-offset-4 has-background-white-bis">
                        <div class="vb-clients">
                            <div class="content">
                                <h3>Some of our clients</h3>
                            </div>
                            <ul class="vb-list">
                                <li><strong>İstanbul Bilgi University</strong><small>Kontratlı Django ve devOps</small></li>
                                <li><strong>Biges Güvenli Hayat Teknoloji</strong><small>Kontratlı Django</small></li>
                                <li><strong>Hürriyet Newspaper, Web Ekibi</strong><small>Eğitim: python, git, unix, devOps</small></li>
                                <li><strong>ING Bank</strong>, Türkiye<small>Hackathon organizasyonları</small></li>
                                <li><strong>Getir.com</strong><small>Hackathon organizasyonu</small></li>
                                <li><strong>Aslanoba</strong><small>Eğitim, devOps</small></li>
                                <li><strong>Cosmo Code</strong>, Almanya<small>Kontratlı Django</small></li>
                                <li><strong>PayU</strong>, Türkiye<small>Eğitim: python, django</small></li>
                                <li><strong>Demirören Teknoloji</strong><small>Danışmanlık, Django</small></li>
                                <li><strong>Promptapi</strong>, Estonya<small>Kontratlı Python</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
